.row {
    @include clearfix;
    max-width: $grid-width;
    margin: 0 auto;

    @include respond(tab-port) {
        max-width: 90%;
    }

    &--complete {
        max-width: 100%;
    }

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;

        @include respond(tab-port) {
            margin-bottom: $gutter-vertical-small;
        }

    }

    [class^="col-"] {

        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;

            @include respond(tab-port) {
                margin-right: 0;
                margin-bottom: $gutter-vertical-small;
            }

        }

    }

    @include grid(1, 12, $gutter-horizontal);

    @include respond(tab-port) {
        @include gridSmall(1, 12);
    }
    
    
}


