.navigation {

    &__checkbox {
        display: none;
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        z-index: 10;
        transition: all .8s cubic-bezier(.86, 0, .07, 1);
    }

    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem; 
        z-index: 12;
        box-shadow: 0 1rem 3rem rgba($color-black, .2);
        text-align: center;
        cursor: pointer;

        &:hover {

            & .navigation__icon::before {
                top: -1.1rem;
            }
    
            & .navigation__icon::after {
                top: 1.1rem;
            }

        }
    }

    &__nav {
        height: 100vh;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 11;
        opacity: 0;
        transition: all .8s cubic-bezier(.68, -.55, .256, 1.55);
    }

    &__list {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
    }

    &__item {
        margin: 1rem;
        visibility: hidden;
    }

    &__link {
        //visibility: hidden;

        span {
            margin-right: 1.5rem;
            display: inline-block;
        }

        &:link, &:visited {
            color: $color-white;
            display: inline-block;
            text-decoration: none;
            font-size: 3rem;
            font-weight: 300;
            text-transform: uppercase;
            padding: 1rem 2rem;
            background-image: linear-gradient(120deg, transparent 50%, $color-white 50%);
            background-size: 220%;
            transition: all .2s;
        }

        &:hover, &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }

    }
    
    &__icon {
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        &, &::before, &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-grey-darkest;
            display: inline-block;
            z-index: 13;
        }

        &::before, &::after {
            content: '';
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before {
            top: -.8rem;
        }

        &::after {
            top: .8rem;
        } 

    }

    &__button:hover &__icon {

        & .navigation__icon::before {
            top: -1rem;
        }

        & .navigation__icon::after {
            top: 1rem;
        }

    }

    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        width: 100%;
        opacity: 1;
    }

    &__checkbox:checked ~ &__nav &__item{
        visibility: visible;
    }

    &__checkbox:checked ~ &__button &__icon {
        background-color: transparent;

        &::before, &::after {
            top: 0;
        }

        &::before {
            transform: rotate(135deg);
        }

        &::after {
            transform: rotate(-135deg);
        }

    }

}